.period {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    & img {
        width: 2rem;
    }

    & a {
        font-size: 1.333rem;
        text-transform: capitalize;
    }


}