#creator-div{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;

    & input[type="text"], input[type="date"]{
        background-color: #d3d3d3;
        border: none;
        padding: 1rem;
        border-radius: 0.5rem;
    }
    & button{
        padding: 1rem;
        border-radius: 0.5rem;
        border: none;
        cursor: pointer;
    }
    
}