.todo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background-color: #d3d3d3;
    margin-bottom: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;

    & img {
        width: 2rem;
        cursor: pointer;
    }
    & input[type="text"]{
        background-color: rgb(255, 255, 255);
        border: none;
        padding: 0.5rem;
        border-radius: 0.5rem;
    }

}