#descriptor{
    display: flex;
    align-items: center;
    border-bottom: black 1px solid;
    margin-bottom: 2rem;
    justify-content: space-between;
}

@media (max-width: 800px) {
    #descriptor{
       & h3{
        font-size: 1.2rem;
       } 
       & p{
        font-size: 0.85rem;
       }
        
    }
  }
@media (max-width: 450px) {
    #descriptor{
       & h3{
        font-size: 1rem;
       } 
       & p{
        font-size: 0.75rem;
       }

       margin-left: 1rem;
       margin-right: 1rem;
        
    }
  }
