#descriptor {
  display: flex;
  align-items: center;
  border-bottom: black 1px solid;
  margin-bottom: 2rem;
  justify-content: space-between;
  margin-left: 15svw;
  margin-right: 15svw;
}

@media (max-width: 800px) {
  #descriptor {
    & h3 {
      font-size: 1.2rem;
    }
  }
}
@media (max-width: 450px) {
  #descriptor {
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;

    & h3 {
      font-size: 1.1rem;
    }
  }
}
