@import url('https://fonts.googleapis.com/css2?family=REM:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "REM", sans-serif;
}

main {
    display: flex;
}